@charset "utf-8";

@font-face {
	font-family: "Cafe24Shiningstar";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Shiningstar.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Pretendard-Regular";
	src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
		format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Pretendard-Bold";
	src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff")
		format("woff");
	font-weight: 700;
	font-style: normal;
}

:root {
	--font: "Pretendard-Regular", "맑은 고딕", sans-serif;
	--font-bold: "Pretendard-Bold", "맑은 고딕", sans-serif;
	--font-decoration: "Cafe24Shiningstar", Pretendard-Bold, "맑은 고딕",
		sans-serif;
}

body {
	--root-color: black;
	--nav-color: rgb(250, 249, 255);
	--sub-color: rgb(105, 106, 199);
	--sub-action-color: rgb(51, 52, 117);
	--header-backcolor: rgba(0, 0, 0, 0.7);
	--header-fontcolor: white;
	--link-basecolor: black;

	--body-color: white;

	--main-color: #333;
	--submain-color: #666;
	--title-color: #333;
	--line-color: #ddd;
	--input-color: #fff;

	--hidden-color: #eee;
	--inactive-color: #aaa;
	--selection-color: #fff;
	--selection-back-color: rgb(100, 102, 209);
}

body.dark {
	--root-color: #ddd;
	--nav-color: rgb(33, 32, 37);
	--sub-color: rgb(129, 130, 216);
	--sub-action-color: rgb(51, 52, 117);
	--header-backcolor: rgba(0, 0, 0, 0.7);
	--header-fontcolor: rgb(212, 204, 204);
	--link-basecolor: rgb(209, 207, 218);

	--body-color: rgb(39, 40, 46);

	--main-color: rgb(202, 200, 212);
	--submain-color: rgb(186, 186, 187);
	--title-color: rgb(185, 186, 248);
	--line-color: rgb(88, 88, 92);
	--input-color: rgb(34, 35, 39);

	--hidden-color: #333;
	--inactive-color: #aaa;
	--selection-color: inherit;
	--selection-back-color: rgb(65, 120, 122);
}

::selection {
	color: var(--selection-color);
	background: var(--selection-back-color);
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

html {
	line-height: 1.5em;
	font-family: var(--font);
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

main {
	display: block;
}

h1 {
	font-family: var(--font-bold);
	font-size: 2em;
	margin: 0.67em 0;
}

h2 {
	font-family: var(--font-bold);
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

a {
	background-color: transparent;
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

b,
strong {
	font-family: var(--font-bold);
}

code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

img {
	border-style: none;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

progress {
	vertical-align: baseline;
}

textarea {
	overflow: auto;
}

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

details {
	display: block;
}

summary {
	display: list-item;
}

template {
	display: none;
}

[hidden] {
	display: none;
}

/*문서내용 시작*/

* {
	box-sizing: border-box;
	color: var(--root-color);
}

input {
	border: none;
}

input:focus {
	outline: none;
}

ul,
ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

a:link {
	color: var(--link-basecolor);
	text-decoration: none;
}

a:visited {
	color: var(--link-basecolor);
	text-decoration: none;
}

a:hover {
	color: var(--sub-color);
	text-decoration: none;
}

body {
	background-color: var(--body-color);
}

.title {
	font-family: var(--font-decoration);
	font-size: 2em;
}

.sr-only {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

/*상위 타이틀*/
.head {
	box-sizing: border-box;
	z-index: 999;
	width: 100%;
	height: 55px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: var(--header-backcolor);
	color: var(--header-fontcolor);
	padding: 10px 0;
	display: grid;
	grid-template-columns: 80px 1fr 1fr;
	align-items: center;
	visibility: hidden;
}

.head .title {
	justify-self: start;
}

.head .title a:link {
	color: var(--header-fontcolor);
}

.head .title a:visited {
	color: var(--header-fontcolor);
}

.head .title a:hover {
	color: var(--header-fontcolor);
}

/* 움직이는 메뉴바 */
.menubar {
	background: transparent;
	border: none;
	cursor: pointer;
	padding-left: 1em;
	width: 70px;
	height: 35px;
	position: relative;
	top: -1px;
}

.bar {
	width: 30px;
	height: 4px;
	background-color: var(--header-fontcolor) !important;
	position: relative;
	margin: 5px;
	border-radius: 4px;
	transition: transform 0.2s;
}

.bar:nth-child(1).active {
	transform: translateY(10px) rotate(45deg);
}

.bar:nth-child(2).active {
	opacity: 0;
}

.bar:nth-child(3).active {
	transform: translateY(-8px) rotate(-45deg);
}

aside .darkbar {
	font-size: 30px;
	margin-right: 20px;
	opacity: 0.8;
	cursor: pointer;
}

aside .darkbar i {
	color: var(--header-fontcolor);
}

aside img:hover {
	opacity: 1;
}

.head aside {
	justify-self: center;
}

/* 컨테이너 */

.container {
	width: 100%;
	display: flex;
	margin: 0 auto;
	justify-content: center;
	border-radius: 10px 10px 0 0;
}

/* 사이드바 */
nav {
	min-width: 280px;
	align-self: flex-start;
}

nav.active {
	min-width: 0;
}

.hiddenbar {
	width: 50px;
	height: 50px;
	border: 1px solid var(--line-color);
	text-align: center;
	line-height: 50px;
	position: fixed;
	left: 279px;
	cursor: pointer;
	transition: transform 0.5s;
}

.hiddenbar.active {
	transform: translateX(-280px);
}

nav .darkbar {
	width: 50px;
	height: 50px;
	border: 1px solid var(--line-color);
	text-align: center;
	line-height: 50px;
	font-size: 25px;
	position: fixed;
	left: 279px;
	top: 70px;
	cursor: pointer;
	transition: transform 0.5s;
}

nav .darkbar.active {
	transform: translateX(-280px);
}

.sidebar {
	width: 280px;
	position: fixed;
	left: 0;
	padding: 60px 1.5em 0 1.5em;
	padding-top: 60px;
	top: 0;
	height: 100vh;
	background-color: var(--nav-color);
	border-right: 1px solid var(--line-color);
	overflow: auto;
	transition: transform 0.5s;
	scrollbar-width: thin;
}

.sidebar_inactive {
	transform: translateX(-280px);
}

nav ul {
	padding-left: 10px;
}

nav ul li {
	padding: 2px 0;
}

nav .guest,
a.link_item:link {
	color: var(--main-color);
}

nav .guest,
a.link_item:visited {
	color: var(--main-color);
}

a.link_sub_item:link {
	color: var(--submain-color);
}

a.link_sub_item:visited {
	color: var(--submain-color);
}

a.link_item:hover,
a.link_sub_item:hover {
	color: var(--sub-color);
}

.category {
	word-break: break-all;
}

a.link_tit {
	display: block;
	padding: 2px 0;
}

nav .close {
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
	visibility: hidden;
}

nav hr {
	margin-bottom: 20px;
	border: none;
}

.sidebar .title {
	padding: 0 0 15px 15px;
	border-bottom: 1px solid var(--line-color);
	font-size: 2.5em;
	margin-bottom: 10px;
}

.sidebar .title a {
	color: var(--title-color);
}

.search {
	position: relative;
}

.input_search {
	width: 200px;
	height: 40px;
	background-color: transparent;
	padding-left: 10px;
	border-bottom: 1px solid var(--line-color);
	color: var(--submain-color);
	margin-top: -5px;
}

.search a {
	border: none;
	background-color: transparent;
	position: absolute;
	font-size: 1em;
	top: 6px;
	right: 5%;
	cursor: pointer;
}

.search i {
	color: var(--submain-color);
}

.admin {
	padding: 10px;
}

.admin i {
	color: var(--hidden-color);
}

/***** 본문 영역 *****/

main {
	padding: 4em 3% 90px 3%;
	width: 75%;
	max-width: 970px;
	background-color: var(--body-color);
}

/* 글 목록 */

#dkBody {
	margin: 0 0 0 10px;
}

.list_content {
	padding: 30px 20px;
	border-bottom: 1px solid var(--line-color);
	display: flex;
	justify-content: space-between;
}

.link_cate,
.txt_date {
	margin-top: 10px;
	font-size: 0.9em;
}

.detail_info {
	flex-shrink: 2;
}

.detail_info .txt_post {
	width: 95%;
	margin-right: 20px;
	max-height: 160px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
	word-break: break-all;
}

.tit_skin .txt_title {
	font-size: 0.8em;
	color: var(--main-color);
	font-weight: normal;
}

strong.tit_post {
	font-size: 1.5em;
}

h3.tit_post {
	font-size: 3em;
	margin: 15px;
	padding: 10px 0;
}

.list_thumnail {
	flex-shrink: 2;
	align-self: center;
}

.thumbnail_post img {
	border-radius: 10px;
}

.link_cate:link {
	color: var(--sub-color);
}

.link_cate:hover {
	color: var(--sub-color);
}

/* 본문영역 */

.absent_post {
	color: var(--main-color);
}

.txt_date {
	color: var(--submain-color);
}

.area_title {
	padding-bottom: 10px;
	border-bottom: 1px solid var(--line-color);
}

.area_title > .txt_bar {
	margin-left: 10px;
}

.txt_bar,
.txt_bar a {
	color: var(--submain-color);
	font-size: 0.95em;
}

.area_view {
	padding: 1em;
	line-height: 1.5em;
	overflow-wrap: break-word;
}

.area_view code {
	font-family: Menlo, Consolas, Monaco, monospace;
}

.area_view p code {
	padding: 2px 5px;
	border-radius: 3px;
	background: #efefef;
	margin: 0 2px;
	border: 1px solid #e0e0e0;
}

.area_view pre {
	color: #555;
	/* background-color: #f6f7f8; */
	margin: 14px auto;
	word-wrap: break-word;
	font-family: Menlo, Consolas, Monaco, monospace;
	font-size: 14px;
	line-height: 20px;
	overflow-x: auto;
}

.area_view pre code.hljs {
	padding: 16px;
}

.xml,
.bash,
.hljs-tag,
span.h1js-tag {
	color: #abb2bf;
}

blockquote[data-ke-style="style1"] {
	text-align: center;
	background: url(./images/quote.png) no-repeat 50% 0;
	padding: 34px 0 0 0;
	font-size: 1.12em;
	color: #333;
	line-height: 1.67;
	border: 0 none;
}

blockquote[data-ke-style="style2"] {
	border-color: #d0d0d0;
	border-width: 0 0 0 4px;
	border-style: solid;
	padding: 1px 0 0 12px;
	color: #666;
	line-height: 1.75;
	font-size: 1em;
	text-align: left;
}

blockquote[data-ke-style="box"],
#tt-body-page blockquote[data-ke-style="box"],
blockquote[data-ke-style="style3"],
#tt-body-page blockquote[data-ke-style="style3"] {
	border: 1px solid var(--line-color);
	background: var(--input-color);
	text-align: left;
	padding: 21px 25px 20px 25px;
	color: #666;
	line-height: 1.75;
}

figure[data-ke-type="opengraph"] div.og-text p.og-title,
#tt-body-page figure[data-ke-type="opengraph"] div.og-text p.og-title {
	color: var(--main-color);
}

.list_tag dt,
.list_tag dd {
	display: inline;
}

.list_tag dt {
	color: var(--submain-color);
}

.list_tag dd {
	margin: 0;
}

/* 덧글 목록 */

.list_reply {
	margin-top: 30px;
	padding-left: 10px;
}

.area_reply .list_reply li:first-child {
	border-top: 0 none;
}

.area_reply .list_reply li {
	padding: 23px 0 22px 0;
	min-height: 53px;
	position: relative;
	border-top: 1px solid var(--line-color);
}

.tit_reply {
	display: block;
	margin: 1em;
	font-size: 1em;
	color: var(--main-color);
	font-weight: normal;
	min-width: 48px;
}

.link_reply:link {
	color: var(--submain-color);
	font-size: 0.9em;
}

.list_reply .thumb_profile {
	width: 48px;
	height: 48px;
	margin-top: 5px;
	margin-right: 20px;
	border-radius: 50%;
	background-color: var(--submain-color);
	align-self: flex-start;
}

.list_reply .img_profile {
	display: block;
	overflow: hidden;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.list_reply li {
	display: flex;
}

.list_reply .txt_reply {
	padding: 10px 20px 10px 10px;
}

.list_reply .re_reply .thumb_profile {
	margin-left: 5%;
}

/* 댓글쓰기 창 */
.fld_reply {
	border: none;
	border: 1px solid var(--line-color);
	border-radius: 5px;
	padding: 1% 2%;
}

.fld_reply .inp_info {
	width: 200px;
	height: 30px;
	margin-top: 5px;
	margin-right: 10px;
	padding: 0 8px;
	border-radius: 5px;
	background-color: var(--input-color);
}

.writer_info {
	display: inline-block;
}

.writer_check {
	display: inline-block;
	margin: 10px 0;
}

.inp_secret {
	display: none;
}

.inp_secret:checked ~ .lab_secret .ico_check {
	background-image: url(./images/check.svg);
	background-position: center;
	background-size: 90%;
}

.check_secret .ico_check {
	border: 2px solid var(--line-color);
	width: 18px;
	height: 18px;
	display: inline-block;
	border-radius: 3px;
	margin-bottom: -3px;
}

.reply_write .tf_reply {
	margin: 7px 0;
	width: 100%;
	box-sizing: border-box;
	height: 80px;
	border: none;
	border-radius: 5px;
	resize: none;
	padding: 8px;
	background-color: var(--input-color);
}

.reply_write .tf_reply:focus {
	outline: none;
}

.writer_btn button {
	width: 100px;
	height: 40px;
	border-radius: 5px;
	border: none;
	background-color: var(--sub-color);
	color: var(--main-color);
	color: white;
	float: right;
	margin: 5px 0 10px 0;
	cursor: pointer;
}

.writer_btn button:hover {
	background-color: var(--sub-action-color);
	color: white;
}

/* 방명록 */
.guestbook {
	padding-top: 0px;
}

.guestbook .re_reply {
	margin-left: 5%;
}

/* 페이징 */

.area_paging {
	margin: 50px 0;
}

.inner_paging {
	display: flex;
	justify-content: space-between;
	position: relative;
	line-height: 35px;
}

.btn_prev,
.btn_next {
	display: inline-block;
	background-color: var(--sub-color);
	width: 80px;
	height: 35px;
	text-align: center;
	color: white;
	border-radius: 5px;
}

.btn_prev:hover,
.btn_next:hover {
	background-color: var(--sub-action-color);
}

.no-more-prev,
.no-more-next {
	background-color: var(--inactive-color);
}

.no-more-prev:hover,
.no-more-next:hover {
	background-color: var(--inactive-color);
}

.inner_paging > a:link {
	color: white;
}

.inner_paging > a:hover {
	color: white;
}

.inner_paging > a:visited {
	color: white;
}

a.link_page {
	margin: 0.8vw;
}

.link_page .selected {
	text-decoration: underline dotted;
}

/* 위로 스크롤 모드  */

.scrolling {
	width: 50px;
	height: 50px;
	background-color: var(--sub-color);
	border-radius: 50%;
	font-size: 1.5em;
	line-height: 50px;
	text-align: center;
	position: fixed;
	right: 2%;
	bottom: 2%;
	visibility: hidden;
	cursor: pointer;
}

.scrolling:hover {
	background-color: var(--sub-action-color);
}

.scrolling i {
	color: white;
}

/* 반응형 설정 */
@media screen and (max-width: 1400px) {
	.head {
		visibility: visible;
		padding: 20px;
		height: 70px;
	}

	.head aside {
		justify-self: end;
	}

	.container {
		width: 100%;
	}

	nav {
		width: 0;
		min-width: 0;
	}

	.sidebar {
		padding-top: 10px;
		top: 70px;
		z-index: 99999;
	}

	.hiddenbar,
	nav > .darkbar {
		display: none;
	}

	.sidebar .title {
		display: none;
	}

	.search a {
		left: 190px;
	}

	main {
		margin-top: 50px;
		padding: 3em 20px 20px 20px;
		width: 100%;
		box-sizing: border-box;
	}
}

@media screen and (max-width: 768px) {
	.head {
		column-gap: 0;
	}

	a.link_page {
		margin: 0;
	}

	.area_paging .link_page span:not(.selected) {
		display: none;
	}

	.area_paging .link_page:last-child span::before {
		content: "/ ";
	}

	.area_paging .link_page:last-child span {
		margin-left: 2px;
		display: inline-block;
	}
}

@media screen and (max-width: 480px) {
	* {
		font-size: 15px;
	}

	.head {
		padding: 10px;
		height: 55px;
		grid-template-columns: 70px 1fr 1fr;
	}

	.menubar {
		width: 60px;
	}

	.sidebar {
		top: 55px;
	}

	aside .darkbar i {
		font-size: 30px;
	}

	#dkBody .txt_title{
		font-size: 0.7em;
	}

	.list_content {
		width: 95%;
		padding: 20px 10px;
	}

	.detail_info .txt_post {
		-webkit-line-clamp: 4;
	}

	.title a {
		font-size: 1em;
	}

	.tit_skin .txt_title {
		font-size: 0.9em;
	}

	.tit_related,
	.tit_reply {
		font-size: 1em;
	}

	.sidebar_inactive {
		transform: translateX(-100vw);
	}

	nav ul li {
		padding-top: 5px;
	}

	nav ul li a {
		font-size: 1.1em;
	}

	main {
		padding: 20px;
	}

	strong.tit_post {
		font-size: 1.4em;
	}

	.detail_info .txt_date {
		display: block;
		margin: 0;
	}

	.link_cate,
	.txt_date {
		margin-top: 0px;
	}

	h3.tit_post {
		font-size: 1.5em;
		font-family: var(--font-bold);
		margin: 0 0 0 10px;
	}

	.list_thumnail {
		flex-shrink: 0;
	}

	.thumbnail_post img {
		border-radius: 10px;
		max-width: 100%;
		width: 80px;
	}

	.area_view {
		padding: 1em 5px 1em 5px;
	}

	.list_related .link_related {
		width: 155px;
		height: 180px;
	}

	.btn_prev,
	.btn_next {
		width: 65px;
	}
}
